{% extends 'base.html' %}
{% load i18n %} 

{% block content %}
    <section class="section section-xs bg-default single-card">
		<div class="container container-md">
			<div class="row row-20">
				<div class="col-12 col-md-4 d-flex justify-content-center">
					<div class="single-card__media">
						<img src="{{ item.image.url }}" alt="{{ item.title }}" />
					</div>
				</div>
				<div class="col-12 col-md-8 d-flex flex-column justify-content-between">
					<div class="single-card__info">
						
						<div class="single-card__info-group">

						<div class="single-card__info-details">
							<div class="single-card__info-details-media">
							<a href="{% url 'journal-detail' name_slug=item.issue.journal.name_slug %}">
									<img src="{{ item.issue.common_cover }}" alt="" width="100">
							</a>
								</div>
								<div class="single-card__info-details-caption">
									<div class="single-card__info-details-title">
										{{ item.issue.journal.name }}
									</div>
									<div class="single-card__info-details-release">
										Выпуск:  {{ item.issue.name }}
									</div>
									<div>
										<a href="#"
										style="min-width: 250px" 
										class="button button-primary">Слушать аудио</a>
									</div>
								</div>
							</div>
							

							
							<div class="single-card__info-marker">
								<input type="checkbox" class="custom-checkbox" id="checkbox-10">
								<label for="checkbox-10" class="custom-checkbox-label"></label>
							</div>
						</div>
						<div class="single-card__info-title">{{item.title}}</div>
						<div class="single-card__info-caption">
							{{ item.text | safe }}
						</div>
					</div>
					
				</div>
			</div>
		</div>
		<div class="container container-md">
		      <h4 class="text-uppercase">{% trans 'Другие' %}
				<span>{% trans 'статьи' %}</span>
			</h4>
			<div class="articles-grid">
			{% for a in articles %}
				<div class="article-thumbnail">
					<div class="article-thumbnail__header">
						<ul class="article-thumbnail__header-list">
							<li>Popular</li>
							<li>Article</li>
							<li>New</li>
							<li>Hot</li>
						</ul>
						<div class="article-thumbnail__header-marker">
							<input type="checkbox" class="custom-checkbox" id="checkbox-1">
							<label for="checkbox-1" class="custom-checkbox-label"></label>
						</div>
					</div>
					<div class="article-thumbnail__body">
						<div class="article-thumbnail__body-caption">
							<a href="{{ a.get_absolute_url }}">{{ a.title }}</a>
							<p>
								{{ a.short_text | safe }}
							</p>
						</div>
						<div class="article-thumbnail__body-media">
							<img src="{{a.get_image.thumbnailsmall_url}}" alt="">
						</div>
					</div>
				</div>
			{% endfor %}
			</div>
		</div>
	</section>



{% endblock %}


