{% extends 'base.html' %}

{% block css %} 
    <link rel="stylesheet" href="/static/css/announce.css">
{% endblock %}


{% block content %}

    <div id="container">
    	<div class="container position-relative">
			<div class="align-items-center justify-content-center">
            <img src="{{ item.image.url }}" alt="{{ item.name }}">
            
                <h1> {{item.name}} </h1>
                {{ item.text | safe }}
            </div>
        </div>
    </div>


	<section class="section section-xs bg-default">
		<div class="container container-md">
			<div class="articles-grid">
				<div class="article-thumbnail">
					<div class="article-thumbnail__header">
						<ul class="article-thumbnail__header-list">
							<li>Popular</li>
							<li>Article</li>
							<li>New</li>
							<li>Hot</li>
						</ul>
						<div class="article-thumbnail__header-marker">
							<input type="checkbox" class="custom-checkbox" id="checkbox-1">
							<label for="checkbox-1" class="custom-checkbox-label"></label>
						</div>
					</div>
					<div class="article-thumbnail__body">
						<div class="article-thumbnail__body-caption">
							<a href="#">The Real Start Of F1’s Latest Rivalry</a>
							<p>
								Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum iure quia saepe soluta.
							</p>
						</div>
					</div>
				</div>
				<div class="article-thumbnail">
					<div class="article-thumbnail__header">
						<ul class="article-thumbnail__header-list">
							<li>Popular</li>
							<li>Article</li>
							<li>New</li>
							<li>Hot</li>
						</ul>
						<div class="article-thumbnail__header-marker">
							<input type="checkbox" class="custom-checkbox" id="checkbox-2">
							<label for="checkbox-2" class="custom-checkbox-label"></label>
						</div>
					</div>
					<div class="article-thumbnail__body">
						<div class="article-thumbnail__body-caption">
							<a href="#">The Real Start Of F1’s Latest Rivalry</a>
							<p>
								Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum iure quia saepe soluta.
							</p>
						</div>
						<div class="article-thumbnail__body-media">
							<img src="assets/img/aticle-thumbnail.png" alt="">
						</div>
					</div>
				</div>
				<div class="article-thumbnail">
					<div class="article-thumbnail__header">
						<ul class="article-thumbnail__header-list">
							<li>Popular</li>
							<li>Article</li>
							<li>New</li>
							<li>Hot</li>
						</ul>
						<div class="article-thumbnail__header-marker">
							<input type="checkbox" class="custom-checkbox" id="checkbox-3">
							<label for="checkbox-3" class="custom-checkbox-label"></label>
						</div>
					</div>
					<div class="article-thumbnail__body">
						<div class="article-thumbnail__body-content"></div>
						<div class="article-thumbnail__body-media"></div>
					</div>
				</div>
				<div class="article-thumbnail">
					<div class="article-thumbnail__header">
						<ul class="article-thumbnail__header-list">
							<li>Popular</li>
							<li>Article</li>
							<li>New</li>
							<li>Hot</li>
						</ul>
						<div class="article-thumbnail__header-marker">
							<input type="checkbox" class="custom-checkbox" id="checkbox-4">
							<label for="checkbox-4" class="custom-checkbox-label"></label>
						</div>
					</div>
					<div class="article-thumbnail__body">
						<div class="article-thumbnail__body-content"></div>
						<div class="article-thumbnail__body-media"></div>
					</div>
				</div>
				<div class="article-thumbnail">
					<div class="article-thumbnail__header">
						<ul class="article-thumbnail__header-list">
							<li>Popular</li>
							<li>Article</li>
							<li>New</li>
							<li>Hot</li>
						</ul>
						<div class="article-thumbnail__header-marker">
							<input type="checkbox" class="custom-checkbox" id="checkbox-5">
							<label for="checkbox-5" class="custom-checkbox-label"></label>
						</div>
					</div>
					<div class="article-thumbnail__body">
						<div class="article-thumbnail__body-content"></div>
						<div class="article-thumbnail__body-media"></div>
					</div>
				</div>
				<div class="article-thumbnail">
					<div class="article-thumbnail__header">
						<ul class="article-thumbnail__header-list">
							<li>Popular</li>
							<li>Article</li>
							<li>New</li>
							<li>Hot</li>
						</ul>
						<div class="article-thumbnail__header-marker">
							<input type="checkbox" class="custom-checkbox" id="checkbox-6">
							<label for="checkbox-6" class="custom-checkbox-label"></label>
						</div>
					</div>
					<div class="article-thumbnail__body">
						<div class="article-thumbnail__body-content"></div>
						<div class="article-thumbnail__body-media"></div>
					</div>
				</div>
			</div>
		</div>
	</section>

{% endblock %}