{% load i18n %}
{% load static %}
<section class="section-xs">
    <div class="container container-md">
        <div class="row row-20">

          <div class="col-12">
            <h4 class="text-uppercase">{% trans 'У вас на счету:' %} {{ user.amount }}</h4>
            
          </div>

        </div>

        <div class="col-12">
            <h4 class="text-uppercase">{% trans 'Пополнить счет' %}</h4>
        </div>

        <a  id="pay_visa" href="#">
          <img src="{%  static 'main/images/pay_visa.png' %}">
          </a>
        <a class="pay_link auto_change_url" href="#">
        <img src="{%  static 'main/images/pay_maestro.png' %}">
        </a>

        <form method="POST" action="/v1/api/account/add/money">
        {% csrf_token %}
        Сумма 
        <input name="sum" />

        Пароль

        <input  name="password" />

        <input type="submit" name="Пополнить" />

        </form>

    </div>
</section>