{% load i18n %}
<section class="section-xs">
    <div class="container container-md">
        <div class="row row-20">
          <h4 class="text-uppercase">{% trans 'Платежи' %}</h4>
         <table class="table">
            <tr>
              <th scope="col">{% trans 'Дата' %}</th>
              <th scope="col">{% trans 'Операция' %}</th>
              <th scope="col">{% trans 'Сумма' %}</th>
              <th scope="col">{% trans 'Информация' %}</th>
            </tr>
            {% for b in transactions %}
            
            <tr>
              <td>{{ b.id }}</td>
              <td>{{ b.get_operation_display }}</td>
              <td>{{ b.operation_amount }}</td>
              <td>{{ b.operation_object }}</td>
            </tr>

            {% endfor %}

          </table>

        </div>
    </div>
</section>