{% load i18n %}
<section class="section-xs">
    <div class="container container-md">
        <div class="row row-20">
          <h4 class="text-uppercase">{% trans 'Активные подписки' %}</h4>
            {% for subscription in  user.usersubscrition_set.all %}
                <div>
                    <p>{{ subscription.subscription.journal.name }}</p>
                    <p>{{ subscription.subscription.name }}</p>
                    <p>
                        {% blocktrans with subscription_count=subscription.count%}Осталось {{ subscription_count }} номеров.{% endblocktrans %}
                    </p>
                </div>
            {% endfor %}

        </div>
    </div>
</section>