{% extends 'base.html' %}

{% block css %} 
    <link rel="stylesheet" href="/static/css/announce.css">
{% endblock %}


{% block content %}

    <div id="container" class="section-sm p-lg-0">
    	<div class="container position-relative">
            <div id="masonryGrid"> </div>
            <div style="display: none" id="masonryItems">
                {% for item in arts %}
                    {% include 'items/article.html' %}
                {% endfor %}
            </div>

        </div>
    </div>

{% endblock %}