	<footer class="site-footer">
		<div class="site-size">
			<div class="footer-top">
				<a href="#" class="footer-logo"></a>
				<div class="socials-wrapper">
					<a href="#" class="vk"></a>
					<a href="#" class="twitter"></a>
					<a href="#" class="telegram"></a>
					<a href="#" class="facebook"></a>
				</div>
				<div class="footer-menu">
					<ul>
						<li><a href="#">О проекте</a></li>
						<li><a href="#">Контакты</a></li>
						<li><a href="#">Служба поддержки</a></li>
						<li><a href="#">Правовая информация</a></li>
						<li><a href="#">Библиотека</a></li>
					</ul>
					<ul>
						<li><a href="#">Подписка</a></li>
						<li><a href="#">Вакансии</a></li>
						<li><a href="#">Карта сайта</a></li>
						<li><a href="#">Помощь</a></li>
						<li><a href="#">Издательствам</a></li>
					</ul>
					<ul>
						<li><a href="#">Активировать купон</a></li>
						<li><a href="#">Публичная оферта</a></li>
						<li><a href="#">Правовая информация</a></li>
					</ul>
				</div>
			</div>
			<div class="footer-bottom">
				<div class="copyright">
					<p>© Все права защищены</p>
					Частичное или полное использование материалов
					интернет-издания "ПРЕССА" разрешается только при условии
					соблюдения "Правил использования материалов"
				</div>
				<a href="#" class="btn-footer-subscribe">Подписка 8 руб/день</a>
			</div>
		</div>
	</footer>