<header class="site-header" id="siteHeader">
	<div class="site-size">
		<div class="row header-top">
			<div class="col-menu-1">
				<a href="#" class="logo" title="НИВА ПЛЮС">
					<img src="i/logo.svg" alt="" title="НИВА ПЛЮС">
				</a>
			</div>
			<div class="col-menu-2">
				<ul class="main-menu">
					<li><a href="#">Журналы</a></li>
					<li><a href="#">ГАЗЕТЫ</a></li>
					<li><a href="#">КНИГИ</a></li>
					<li><a href="#">СТАТЬИ</a></li>
				</ul>
			</div>
			<div class="col-menu-3 top-controls-wrapper" id="userMenu">
				
			</div>
			<div class="clear"></div>
		</div>
		<div class="row header-bottom">
			<form class="search-wrapper" action="">
				<div class="search-category-menu">
					Новости <i class="fa fa-caret-down" aria-hidden="true"></i>
					<ul class="search-category-menu-items">
						<li><a href="#">Категория 2</a></li>
						<li><a href="#">Категория 3</a></li>
						<li><a href="#">Категория 4</a></li>
					</ul>
				</div>
				<input type="text" name="searchQuery" id="searchQuery" required placeholder="Поиск по книгам, сериям, авторам, жанрам, тегам, издательством">
			</form>
			<a href="#" class="subscribe">Подписка 8 руб/сутки</a>
			<div class="col-md-3 top-controls-wrapper-mobile">
				<a href="#" class="burger-menu-link" id="burgerMenuLink">
					<span></span>
					<span></span>
					<span></span>
				</a>
				<form class="mob-search-wrapper" action="">
					<input type="text" name="searchQuery" id="mobSearchQuery" required placeholder="Поиск по книгам, сериям, авторам, жанрам, тегам, издательством">
				</form>
				<div class="lang-control">
					RU<i class="fa fa-chevron-down" aria-hidden="true"></i>
					<ul class="lang-menu">
						<li><a href="#">RU</a></li>
						<li><a href="#">EN</a></li>
					</ul>
				</div>
				<a href="#" class="bag-link"></a>
			</div>
		</div>
	</div>
</header>