	<!-- Mobile menu -->
	<div class="mob-menu-overflow" id="mobMenuOverflow"></div>
	<div class="mob-menu" id="mobMenu">
		<a href="#" class="mob-menu-logo">
			<img src="/static/i/logo.svg" alt="">
			<img src="/static/i/title.svg" alt="">
		</a>
		<ul>
			<li>
				<a href="#">
					<span class="mob-menu-item-icon-wrapper">
						<img src="/static/i/mob-icon-journals.svg" alt="">
					</span>
					Журналы
				</a>
			</li>
			<li>
				<a href="#">
					<span class="mob-menu-item-icon-wrapper">
						<img src="/static/i/mob-icon-papers.svg" alt="">
					</span>
					Газеты
				</a>
			</li>
			<li>
				<a href="#">
					<span class="mob-menu-item-icon-wrapper">
						<img src="/static/i/mob-icon-books.svg" alt="">
					</span>
					Книги
				</a>
			</li>
			<li>
				<a href="#">
					<span class="mob-menu-item-icon-wrapper">
						<img src="/static/i/mob-icon-articles.svg" alt="">
					</span>
					Статьи
				</a>
			</li>
		</ul>
		<div class="socials-wrapper">
			<a href="#" class="vk"></a>
			<a href="#" class="twitter"></a>
			<a href="#" class="telegram"></a>
			<a href="#" class="facebook"></a>
		</div>
	</div>
	<!-- /Mobile menu -->