wheel
Django==2.2 
requests
bs4
python-socketio
eventlet
python-dotenv
Pillow==3.0.0
djangorestframework
drf-yasg
social-auth-app-django
django-extensions
django-filter==2.4.0
sorl-thumbnail
pytils
django-image-cropping
easy-thumbnails
django-taggit
django-debug-toolbar
GitPython
django-modeltranslation==0.17.2
django-flatblocks
django-rosetta
django-taggit-serializer