{% extends 'base.html' %}
{% load i18n %} 
{% block css %} 
    <link rel="stylesheet" href="/static/css/catalog.css">
{% endblock %}


{% block content %}
        <br/>
        {% if is_show_popular %}
            <div id="popJournalsSlider"></div>
            <div id="JSpopJournalsItems" style="display: none">
            {% for item in popular %}
                {% include 'items/journal.html' %}
            {% endfor %}
            </div>
        {% endif %}

    
    
    <div class="container">
        <div id="tagSlider" class="swiper-container"></div>
    </div>
    {% include 'blocks/tag_slider.html' %}
    <div class="container">
        <div class="journals-block">
        <div class="col-12">
            <h4 class="text-uppercase">
                {% if category %}
                   {{ category.name }}
                {% else %}
                    {% trans 'Новые' %} <span>{% trans 'выпуски' %}</span>
                {% endif %}
            </h4>
        </div>
            {% for item in page_obj %}
                <div>
                {% include 'items/journal.html' %}
                </div>
            {% endfor %}
        </div>
        <div class="paginator">
            {% if page_obj.has_previous %}
              <a class="button button-primary" href="{% url 'category-detail' journal_type=journal_type category=category.name_slug %}?page={{ page_obj.previous_page_number }}"> Назад </a>
            {% endif %}
            {% translate 'Страница' %}: {{ page_obj.number }}
            {% if page_obj.has_next %}
              <a class="button button-primary" href="{% url 'category-detail' journal_type=journal_type category=category.name_slug %}?page={{ page_obj.next_page_number }}"> Вперед </a>
            {% endif %}
        </div>

    </div>

{% include 'main/landing/articles.html' %}


{% endblock %}