{% extends 'base.html' %}

{% block css %} 
    <link rel="stylesheet" href="/static/css/catalog.css">
{% endblock %}


{% block content %}
    
    <div class="container">
        <div id="tagSlider" class="swiper-container"></div>
    </div>
    <div style="display: none" class="category-block container" id="tagSliderItems">


        {% for category in categories %}
            <div>
            <a href="" class="button button-primary">
                {{ category.name }}
            </a>
            </div>
        {% endfor %}
    </div>
    <div class="container">
        <div class="journals-block">
        <div class="col-12">
            <h4 class="text-uppercase">Популярные <span>издания</span></h4>
        </div>
            {% for item in journals %}
                <div>
                {% include 'items/journal.html' %}
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}