{% extends 'base.html' %}

{% block css %} 
    <link rel="stylesheet" href="/static/css/catalog.css">
{% endblock %}


{% block content %}
    
    
    <div class="category-block container">
        {% for category in categories %}
            <div>
            <a href="" class="button button-primary">
                {{ category.name }}
            </a>
            </div>
        {% endfor %}
    </div>
    <div class="container">
        <div class="journals-block">
            {% for item in journals %}
                <div>
                {% include 'items/journal.html' %}
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}