{% extends 'base.html' %}
{% load i18n %}
{% block css %} 
    <link rel="stylesheet" href="/static/css/lk.css">
{% endblock %}


{% block content %}


<section class="section-xs card">
    <div class="container container-md">
        <div class="row row-20">
          <h4 class="text-uppercase">{% trans 'Личный кабинет' %} <span>{{ user.username }}</span></h4>
          <div class="col-12">
            {% trans 'У вас на счету:' %} {{ user.amount }}
            <a href="{% url 'replanish' %}" class="button button-primary">{% trans 'Пополнить счет' %}</a>
          </div>
          <h4 class="text-uppercase">{% trans 'Активные подписки' %}</h4>
            {% for subscription in  user.usersubscrition_set.all %}
                <div>
                    <p>{{ subscription.subscription.journal.name }}</p>
                    <p>{{ subscription.subscription.name }}</p>
                    <p>
                        {% blocktrans with subscription_count=subscription.count%}Осталось {{ subscription_count }} номеров.{% endblocktrans %}
                    </p>
                </div>
            {% endfor %}
        </div>
    </div>
</section>


<section class="section-xs card">
    <div class="container container-md">
        <div class="row row-20">
          <div class="col-12">
            <h4 class="text-uppercase">{% trans 'Моя коллекция' %}</h4>
          </div>
            <div class="col-12">
                <div class="swiper-wrap swiper-style-1 swiper-creative">
                    <div class="swiper-container swiper-new-articles">
                        <div class="swiper-wrapper" id="popular-jounals">
                            {% for item in  user.my_journals %}
                                  {% include 'items/purchase.html' %}
                            {% endfor %}
                        </div>
                    </div>
                    <div class="slider-nav-wrapper">
                        <div class="slider-new-nav-prev">
                            <span class="fa fa-chevron-left"></span>
                        </div>
                        <div class="slider-new-nav-next">
                            <span class="fa fa-chevron-right"></span>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</section>



{% endblock %}