{% extends 'base.html' %}
{% load i18n %}
{% block css %} 
    <link rel="stylesheet" href="/static/css/lk.css">
{% endblock %}


{% block content %}

<section class="section-xs card">
    <div class="container container-md">

          <h4 class="text-uppercase">{% trans 'Личный кабинет' %} <span>{{ user.username }}</span></h4>

    <ul class="nav nav-pills" data-tabs="tabs">

    <li class="nav-item active"><a  class="nav-link active" data-toggle="tab" href="#account">{% trans 'Ваш счет' %}</a></li>

    <li class="nav-item"><a  class="nav-link" data-toggle="tab" href="#subscription">{% trans 'Подписки' %}</a></li>

    <li class="nav-item"><a  class="nav-link" data-toggle="tab" href="#yellow">{% trans 'Абонемент' %}</a></li>

    <li class="nav-item"><a  class="nav-link" data-toggle="tab" href="#payments">{% trans 'Платежи' %}</a></li>

    <li class="nav-item"><a  class="nav-link" data-toggle="tab" href="#bookmarks">{% trans 'Закладки' %}</a></li>
</ul>
<div class="tab-content">
    <div class="tab-pane active" id="account">
        {% include 'lk/tabs/account.html' %}
    </div>
    <div class="tab-pane" id="subscription">
        {% include 'lk/tabs/subscriptions.html' %}
    </div>
    <div class="tab-pane" id="yellow">
       {% include 'lk/tabs/abonement.html' %}
    </div>
    <div class="tab-pane" id="payments">
        {% include 'lk/tabs/payments.html' %}
    </div>
    <div class="tab-pane" id="bookmarks">
        {% include 'lk/tabs/bookmarks.html' %}
    </div>
</div>


    </div>
</section>








{% endblock %}