<h1 class="title-newest">НОВИНКИ</h1>
<div class="row">
    <div class="col-md-10">
        <ul class="categories-menu">
            <li><a href="#">ЖЕНСКИЕ</a></li>
            <li><a href="#">МУЖСКИЕ</a></li>
            <li><a href="#">ДЕТСКИЕ</a></li>
            <li><a href="#">ДОМ И СЕМЬЯ</a></li>
            <li><a href="#">АВТО СПОРТ</a></li>
            <li><a href="#">РЕЛИГИЯ</a></li>
            <li><a href="#">ОБЩЕСТВО И ПОЛИТИКА</a></li>
            <li><a href="#">БИЗНЕС И ФИНАНСЫ</a></li>
            <li><a href="#">НАУЧНО-ПОПУЛЯРНЫЕ</a></li>
        </ul>
    </div>
    <div class="col-md-2 slider-control-wrapper">
        <a href="#" class="slider-control newest-slider-prev"><i class="fa fa-chevron-left"></i></a>
        <a href="#" class="slider-control newest-slider-next"><i class="fa fa-chevron-right"></i></a>
    </div>
</div>
<div class="newest-slider" id="newestSlider">
    <div class="newest-slider-slide">
        <a href="#" class="newest-slider-slide-image" title="НИВА ПЛЮС">
            <img src="/static/i/newest-1.jpg" alt="" title="НИВА ПЛЮС">
        </a>
        <div class="newest-slider-slide-content">
            <a href="#" class="newest-slider-slide-title">НИВА ПЛЮС</a>
            <div class="newest-slider-slide-num">№10 12/10/20</div>
            <div class="newest-slider-slide-bottom">
                <div class="newest-slider-slide-price">250.00₽</div>
                <div class="newest-slider-slide-links">
                    <a href="#">TXT</a>
                    <a href="#">PDF</a>
                </div>
            </div>
        </div>
    </div>
    <div class="newest-slider-slide">
        <a href="#" class="newest-slider-slide-image" title="ТЕЛЕК PRESSA.RU">
            <img src="/static/i/newest-2.jpg" alt="" title="ТЕЛЕК PRESSA.RU">
        </a>
        <div class="newest-slider-slide-content">
            <a href="#" class="newest-slider-slide-title">ТЕЛЕК PRESSA.RU</a>
            <div class="newest-slider-slide-num">№05 03/02/21</div>
            <div class="newest-slider-slide-bottom">
                <div class="newest-slider-slide-price">10.00₽</div>
                <div class="newest-slider-slide-links">
                    <a href="#">PDF</a>
                </div>
            </div>
        </div>
    </div>
    <div class="newest-slider-slide">
        <a href="#" class="newest-slider-slide-image" title="РБК">
            <img src="/static/i/newest-3.jpg" alt="" title="РБК">
        </a>
        <div class="newest-slider-slide-content">
            <a href="#" class="newest-slider-slide-title">РБК</a>
            <div class="newest-slider-slide-num">№01 22/12/20</div>
            <div class="newest-slider-slide-bottom">
                <div class="newest-slider-slide-price">236.00₽</div>
                <div class="newest-slider-slide-links">
                    <a href="#">TXT</a>
                    <a href="#">PDF</a>
                </div>
            </div>
        </div>
    </div>
    <div class="newest-slider-slide">
        <a href="#" class="newest-slider-slide-image" title="ИЗВЕСТИЯ">
            <img src="/static/i/newest-4.jpg" alt="" title="ИЗВЕСТИЯ">
        </a>
        <div class="newest-slider-slide-content">
            <a href="#" class="newest-slider-slide-title">ИЗВЕСТИЯ</a>
            <div class="newest-slider-slide-num">№20-2021 05/02/21</div>
            <div class="newest-slider-slide-bottom">
                <div class="newest-slider-slide-price">25.00₽</div>
                <div class="newest-slider-slide-links">
                    <a href="#">PDF</a>
                </div>
            </div>
        </div>
    </div>
    <div class="newest-slider-slide">
        <a href="#" class="newest-slider-slide-image" title="FORBES WOMAN">
            <img src="/static/i/newest-5.jpg" alt="" title="FORBES WOMAN">
        </a>
        <div class="newest-slider-slide-content">
            <a href="#" class="newest-slider-slide-title">FORBES WOMAN</a>
            <div class="newest-slider-slide-num">№03 01/10/20</div>
            <div class="newest-slider-slide-bottom">
                <div class="newest-slider-slide-price">175.00₽</div>
                <div class="newest-slider-slide-links">
                    <a href="#">TXT</a>
                    <a href="#">PDF</a>
                </div>
            </div>
        </div>
    </div>
    <div class="newest-slider-slide">
        <a href="#" class="newest-slider-slide-image" title="НИВА ПЛЮС">
            <img src="/static/i/newest-1.jpg" alt="" title="НИВА ПЛЮС">
        </a>
        <div class="newest-slider-slide-content">
            <a href="#" class="newest-slider-slide-title">НИВА ПЛЮС</a>
            <div class="newest-slider-slide-num">№10 12/10/20</div>
            <div class="newest-slider-slide-bottom">
                <div class="newest-slider-slide-price">250.00₽</div>
                <div class="newest-slider-slide-links">
                    <a href="#">TXT</a>
                    <a href="#">PDF</a>
                </div>
            </div>
        </div>
    </div>
    <div class="newest-slider-slide">
        <a href="#" class="newest-slider-slide-image" title="ТЕЛЕК PRESSA.RU">
            <img src="/static/i/newest-2.jpg" alt="" title="ТЕЛЕК PRESSA.RU">
        </a>
        <div class="newest-slider-slide-content">
            <a href="#" class="newest-slider-slide-title">ТЕЛЕК PRESSA.RU</a>
            <div class="newest-slider-slide-num">№05 03/02/21</div>
            <div class="newest-slider-slide-bottom">
                <div class="newest-slider-slide-price">10.00₽</div>
                <div class="newest-slider-slide-links">
                    <a href="#">PDF</a>
                </div>
            </div>
        </div>
    </div>
    <div class="newest-slider-slide">
        <a href="#" class="newest-slider-slide-image" title="РБК">
            <img src="/static/i/newest-3.jpg" alt="" title="РБК">
        </a>
        <div class="newest-slider-slide-content">
            <a href="#" class="newest-slider-slide-title">РБК</a>
            <div class="newest-slider-slide-num">№01 22/12/20</div>
            <div class="newest-slider-slide-bottom">
                <div class="newest-slider-slide-price">236.00₽</div>
                <div class="newest-slider-slide-links">
                    <a href="#">TXT</a>
                    <a href="#">PDF</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="mob-slider-control-wrapper slider-control-wrapper">
    <a href="#" class="slider-control newest-slider-prev"><i class="fa fa-chevron-left"></i></a>
    <a href="#" class="slider-control newest-slider-next"><i class="fa fa-chevron-right"></i></a>
</div>