<h2 class="title-twice">КНИГИ <span>НОВИНКИ</span></h2>
<div class="row">
    <div class="col-md-10">
        <ul class="tags">
            <li><a href="#">#Борис Акунин</a></li>
            <li><a href="#">#Только у нас</a></li>
            <li><a href="#">#Бесплатно</a></li>
            <li><a href="#">#Originals</a></li>
            <li><a href="#">#Саморазвитие</a></li>
            <li><a href="#">#Фантастика и фэнтези</a></li>
            <li><a href="#">#Бизнес</a></li>
            <li><a href="#">#Windows</a></li>
            <li><a href="#">#Linux</a></li>
            <li><a href="#">#Коронавирус</a></li>
            <li><a href="#">#Дети</a></li>
        </ul>
    </div>
    <div class="col-md-2 slider-control-wrapper">
        <a href="#" class="slider-control books-slider-prev"><i class="fa fa-chevron-left"></i></a>
        <a href="#" class="slider-control books-slider-next"><i class="fa fa-chevron-right"></i></a>
    </div>
</div>
<div class="newest-slider" id="booksSlider">
    <div class="newest-slider-slide">
        <a href="#" class="newest-slider-slide-image" title="ДЖИНКС. КНИГА ПЕРВАЯ">
            <img src="/static/i/books-1.jpg" alt="" title="ДЖИНКС. КНИГА ПЕРВАЯ">
        </a>
        <div class="newest-slider-slide-content">
            <a href="#" class="newest-slider-slide-title">ДЖИНКС. КНИГА ПЕРВАЯ</a>
            <div class="newest-slider-slide-num">19/03/15</div>
            <div class="newest-slider-slide-bottom">
                <div class="newest-slider-slide-price">149.00₽</div>
                <div class="newest-slider-slide-links">
                    <a href="#">PDF</a>
                </div>
            </div>
        </div>
    </div>
    <div class="newest-slider-slide">
        <a href="#" class="newest-slider-slide-image" title="СБОРНИК СТИХОВ 'СОН'">
            <img src="/static/i/books-2.jpg" alt="" title="СБОРНИК СТИХОВ 'СОН'">
        </a>
        <div class="newest-slider-slide-content">
            <a href="#" class="newest-slider-slide-title">СБОРНИК СТИХОВ 'СОН' </a>
            <div class="newest-slider-slide-num">01/03/11</div>
            <div class="newest-slider-slide-bottom">
                <div class="newest-slider-slide-price">100.00₽</div>
                <div class="newest-slider-slide-links">
                    <a href="#">TXT</a>
                    <a href="#">PDF</a>
                </div>
            </div>
        </div>
    </div>
    <div class="newest-slider-slide">
        <a href="#" class="newest-slider-slide-image" title="ALEKSANDER PONOMAREV">
            <img src="/static/i/books-3.jpg" alt="" title="ALEKSANDER PONOMAREV">
        </a>
        <div class="newest-slider-slide-content">
            <a href="#" class="newest-slider-slide-title">ALEKSANDER PONOMAREV</a>
            <div class="newest-slider-slide-num">15/02/13</div>
            <div class="newest-slider-slide-bottom">
                <div class="newest-slider-slide-price">470.00₽</div>
                <div class="newest-slider-slide-links">
                    <a href="#">TXT</a>
                    <a href="#">PDF</a>
                </div>
            </div>
        </div>
    </div>
    <div class="newest-slider-slide">
        <a href="#" class="newest-slider-slide-image" title="КУХНЯ ПРАЗДНИКОВ И ПОСТОВ">
            <img src="/static/i/books-4.jpg" alt="" title="КУХНЯ ПРАЗДНИКОВ И ПОСТОВ">
        </a>
        <div class="newest-slider-slide-content">
            <a href="#" class="newest-slider-slide-title">КУХНЯ ПРАЗДНИКОВ И ПОСТОВ</a>
            <div class="newest-slider-slide-num">25/12/14</div>
            <div class="newest-slider-slide-bottom">
                <div class="newest-slider-slide-price">БЕСПЛАТНО</div>
                <div class="newest-slider-slide-links">
                    <a href="#">TXT</a>
                    <a href="#">PDF</a>
                </div>
            </div>
        </div>
    </div>
    <div class="newest-slider-slide">
        <a href="#" class="newest-slider-slide-image" title="КОРОЛЕВСКИЕ ЗАМКИ И ДВОРЦЫ ШВЕЦИИ">
            <img src="/static/i/books-5.jpg" alt="" title="КОРОЛЕВСКИЕ ЗАМКИ И ДВОРЦЫ ШВЕЦИИ">
        </a>
        <div class="newest-slider-slide-content">
            <a href="#" class="newest-slider-slide-title">КОРОЛЕВСКИЕ ЗАМКИ И ДВОРЦЫ ШВЕЦИИ</a>
            <div class="newest-slider-slide-num">25/03/13</div>
            <div class="newest-slider-slide-bottom">
                <div class="newest-slider-slide-price">210.00₽</div>
                <div class="newest-slider-slide-links">
                    <a href="#">TXT</a>
                    <a href="#">PDF</a>
                </div>
            </div>
        </div>
    </div>
    <div class="newest-slider-slide">
        <a href="#" class="newest-slider-slide-image" title="ALEKSANDER PONOMAREV">
            <img src="/static/i/books-3.jpg" alt="" title="ALEKSANDER PONOMAREV">
        </a>
        <div class="newest-slider-slide-content">
            <a href="#" class="newest-slider-slide-title">ALEKSANDER PONOMAREV</a>
            <div class="newest-slider-slide-num">15/02/13</div>
            <div class="newest-slider-slide-bottom">
                <div class="newest-slider-slide-price">470.00₽</div>
                <div class="newest-slider-slide-links">
                    <a href="#">TXT</a>
                    <a href="#">PDF</a>
                </div>
            </div>
        </div>
    </div>
    <div class="newest-slider-slide">
        <a href="#" class="newest-slider-slide-image" title="КУХНЯ ПРАЗДНИКОВ И ПОСТОВ">
            <img src="/static/i/books-4.jpg" alt="" title="КУХНЯ ПРАЗДНИКОВ И ПОСТОВ">
        </a>
        <div class="newest-slider-slide-content">
            <a href="#" class="newest-slider-slide-title">КУХНЯ ПРАЗДНИКОВ И ПОСТОВ</a>
            <div class="newest-slider-slide-num">25/12/14</div>
            <div class="newest-slider-slide-bottom">
                <div class="newest-slider-slide-price">БЕСПЛАТНО</div>
                <div class="newest-slider-slide-links">
                    <a href="#">TXT</a>
                    <a href="#">PDF</a>
                </div>
            </div>
        </div>
    </div>
    <div class="newest-slider-slide">
        <a href="#" class="newest-slider-slide-image" title="КОРОЛЕВСКИЕ ЗАМКИ И ДВОРЦЫ ШВЕЦИИ">
            <img src="/static/i/books-5.jpg" alt="" title="КОРОЛЕВСКИЕ ЗАМКИ И ДВОРЦЫ ШВЕЦИИ">
        </a>
        <div class="newest-slider-slide-content">
            <a href="#" class="newest-slider-slide-title">КОРОЛЕВСКИЕ ЗАМКИ И ДВОРЦЫ ШВЕЦИИ</a>
            <div class="newest-slider-slide-num">25/03/13</div>
            <div class="newest-slider-slide-bottom">
                <div class="newest-slider-slide-price">210.00₽</div>
                <div class="newest-slider-slide-links">
                    <a href="#">TXT</a>
                    <a href="#">PDF</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="mob-slider-control-wrapper slider-control-wrapper">
    <a href="#" class="slider-control books-slider-prev"><i class="fa fa-chevron-left"></i></a>
    <a href="#" class="slider-control books-slider-next"><i class="fa fa-chevron-right"></i></a>
</div>