<h1 class="title-newest">НОВИНКИ</h1>
<div class="row">
    <div class="col-md-10">
        <ul class="categories-menu">
            <li><a href="#">ЖЕНСКИЕ</a></li>
            <li><a href="#">МУЖСКИЕ</a></li>
            <li><a href="#">ДЕТСКИЕ</a></li>
            <li><a href="#">ДОМ И СЕМЬЯ</a></li>
            <li><a href="#">АВТО СПОРТ</a></li>
            <li><a href="#">РЕЛИГИЯ</a></li>
            <li><a href="#">ОБЩЕСТВО И ПОЛИТИКА</a></li>
            <li><a href="#">БИЗНЕС И ФИНАНСЫ</a></li>
            <li><a href="#">НАУЧНО-ПОПУЛЯРНЫЕ</a></li>
        </ul>
    </div>
    <div class="col-md-2 slider-control-wrapper">
        <a href="#" class="slider-control newest-slider-prev"><i class="fa fa-chevron-left"></i></a>
        <a href="#" class="slider-control newest-slider-next"><i class="fa fa-chevron-right"></i></a>
    </div>
</div>
<div class="newest-slider" id="newestSlider">
    {% for journal in popular_journal %}
    <div class="newest-slider-slide">
        <a href="#" class="newest-slider-slide-image" title="{{ journal.name }}">
            <img src="{{ journal.common_cover }}" alt="" title="{{ journal.name }}">
        </a>
        <div class="newest-slider-slide-content">
            <a href="#" class="newest-slider-slide-title">{{ journal.name }}</a>
            <div class="newest-slider-slide-num">№{{ journal.last_issue.name }}</div>
            <div class="newest-slider-slide-bottom">
                <div class="newest-slider-slide-price">{{ journal.amount }}₽</div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
<div class="mob-slider-control-wrapper slider-control-wrapper">
    <a href="#" class="slider-control newest-slider-prev"><i class="fa fa-chevron-left"></i></a>
    <a href="#" class="slider-control newest-slider-next"><i class="fa fa-chevron-right"></i></a>
</div>