@media screen and (max-width: 1800px) {
    .row .col-menu-2 {
        padding-left: 200px !important;
    }
    .banner-bottom-pic {
        display: block;
        float: right;
        width: 670px;
        height: 374px;
        line-height: 380px;
        text-align: center;
        font-size: 0;
        margin-right: 20px;
    }
    .banner-bottom-text {
        padding-left: 50px;
    }
    .btn-read-articles {
        padding: 20px;
    }
}

@media screen and (max-width: 1500px) {
    .market-prices {
        right: 0 !important;
    }
    .main-banner-pic {
        right: 12%;
    }
}

@media screen and (max-width: 1380px) {
    .main-banner-pic {
        right: 16% !important;
    }
}

@media screen and (max-width: 1330px) {
    .row .col-menu-2 {
        padding-left: 100px !important;
    }
}

@media screen and (max-width: 1310px) {
    .main-banner.row {
        height: auto !important;
        display: block !important;
        padding-top: 14px !important;
        padding-bottom: 14px !important;
        margin-left: 14px !important;
        margin-right: 14px !important;
    }
    .main-banner-pic {
        position: relative;
        top: auto;
        left: auto;
        right: auto !important;
        height: auto !important;
        width: 100% !important;
        margin: 22px 0;
        text-align: center;
    }
    .btn-read-free {
        float: none;
        width: 240px;
        text-align: center;
    }
    .col-md-5.main-banner-content {
        padding-left: 0 !important;
        padding-right: 0 !important;
        float: none !important;
        width: auto !important;
    }
    .main-banner h1 {
        font-size: 24px;
        line-height: 28px;
        font-weight: 500;
    }
    .banner-top-text {
        font-size: 14px;
        line-height: 16px;
        padding-top: 15px;
    }
    .banner-top-text p {
        padding: 14px 0 10px;
    }
    .market-prices {
        position: relative;
        top: 280px !important;
    }
}

@media screen and (max-width: 1261px) {
    .banner-bottom {
        height: auto;
    }
    .banner-bottom-text {
        padding: 0 20px;
        float: none;
        width: auto;
        text-align: center;
    }
    .btn-read-articles {
        float: none;
        width: 200px;
        margin: 0 auto;
    }
    .banner-bottom-pic {
        margin: 20px auto 0;
        float: none;
        width: auto;
    }
}

@media screen and (max-width: 1250px) {
    .site-size {
        padding: 0 20px;
    }
    .newest-slider-controls {
        display: block;
    }
}

@media screen and (max-width: 1080px) {
    .newest-slider-slide-price {
        font-size: 12px;
    }
}

@media screen and (max-width: 910px) {
    .site-header {
        height: auto;
        padding-bottom: 10px;
    }
    .main-menu > li + li {
        margin-left: 10px;
    }
    .main-menu > li > a {
        font: 400 14px/18px 'Roboto', sans-serif;
    }
    .top-controls-wrapper {
        display: block;
        float: none;
        width: 100% !important;
    }
    .bag-link {
        float: right;
    }
    .footer-logo {
        float: none;
        width: 100%;
    }
    .socials-wrapper {
        float: none;
        width: 100%;
        margin: 0;
        text-align: center;
        padding-top: 28px;
    }
    .site-footer {
        height: auto;
    }
    .footer-top {
        height: auto;
        border-bottom: none;
        margin-top: 0;
    }
    .footer-menu {
        float: none;
        margin: 0 -16px;
        padding: 30px 0;
        border-bottom: solid 1px #aaa;
    }
    .footer-menu > ul {
        float: none;
    }
    .footer-menu > ul + ul {
        margin-left: 0;
    }
    .footer-menu > ul > li {
        text-align: center;
    }
    .copyright {
        float: none;
        text-align: center;
        margin: 20px 0;
        width: auto;
        font-size: 12px;
    }
    .footer-bottom {
        padding-bottom: 30px;
    }
    .btn-footer-subscribe {
        float: none;
        text-align: center;
        margin: 0 44px;
    }
}

@media screen and (max-width: 850px) {
    .main-banner-pic {
        padding-top: 20px !important;
    }
    .market-prices {
        position: relative !important;
        top: auto !important;
        left: auto !important;
        right: auto !important;
        bottom: auto !important;
        width: 100% !important;
        font-size: 0;
        height: auto !important;
    }
    .market-prices-top, .market-prices-bottom {
        display: inline-block;
        vertical-align: top;
    }
    .market-prices-top:after {
        display: none;
    }
}

@media screen and (max-width: 820px) {
    .row .col-menu-2 {
        padding-left: 20px !important;
    }
    .main-banner-pic svg {
        max-width: 100%;
        max-height: 100%;
        height: auto !important;
    }
}

@media screen and (max-width: 600px) {
    .btn-read-free {
        width: auto;
        height: 57px;
        line-height: 57px;
        padding: 0;
        font-size: 24px;
        font-weight: 400;
    }
    .main-banner.row {
        margin-left: -8px !important;
        margin-right: -8px !important;
    }

}

@media screen and (max-width: 767px) {
    .logo {
        margin: 14px auto 0;
        float: none;
    }
    .title-newest {
        font-size: 18px;
        line-height: 20px;
    }
    .categories-menu > li > a {
        font-size: 12px;
        line-height: 14px;
    }
    .title-twice {
        font-size: 18px;
        line-height: 20px;
        padding: 22px 0;
    }
    .tags > li > a {
        font-size: 12px;
        line-height: 14px;
    }
    .mob-slider-control-wrapper.slider-control-wrapper {
        display: block;
    }
    .slider-control-wrapper {
        display: none;
    }
    .row.actual-slider-slide-bottom,
    .col-md-4.actual-slider-slide-date {
        text-align: center;
    }
    .col-md-4.actual-slider-slide-date {
        padding-top: 5px;
    }
    .subscribe-section h1,
    .subscribe-section h2 {
        font-size: 16px;
        line-height: 24px;
    }
    .col-menu-1 {
        float: none;
        width: 100% !important;
    }
    .col-menu-2 {
        float: none;
        width: 100% !important;
    }
    .logo {
        float: none;
    }
    .subscribe-section h1 {
        width: auto;
    }
}

@media screen and (max-width: 640px) {
    .search-category-menu {
        display: none;
    }
    .search-wrapper input[type='text'] {
        width: 100%;
    }
    .banner-bottom-pic {
        height: auto;
        line-height: normal;
        padding: 30px 0 10px;
        margin: 0 10px;
    }
    .banner-bottom-text h1 {
        padding: 0 0 20px;
    }
    .banner-bottom-text p {
        padding-top: 30px;
    }
    .electronic-library-section h1 {
        font-size: 24px;
        line-height: 28px;
    }
    .electronic-library-section h2 {
        margin-top: 5px;
        font-size: 16px;
    }
    .electronic-library-section .btn-find-favorite {
        height: 57px;
        line-height: 57px;
        padding: 0;
        width: auto;
    }
    .tags {
        display: none;
    }
    .title-twice {
        padding-bottom: 0;
    }
}

@media screen and (max-width: 619px) {
    .newest-slider-slide-price {
        font-size: 15px;
    }
}

@media screen and (max-width: 580px) {
    .row .col-menu-2 {
        width: 100% !important;
        float: none;
        padding: 0 !important;
    }
    .row .col-menu-3.top-controls-wrapper {
        width: 100% !important;
        float: none;
    }
    .banner-bottom {
        margin: 0 -20px;
        padding: 20px 0;
    }
    .banner-bottom-text {
        text-align: left;
    }
    .btn-read-articles {
        text-align: center;
        width: auto;
        font: 500 24px/30px 'Roboto', sans-serif;
        padding-top: 10px;
        padding-bottom: 14px;
    }
    .banner-bottom-text h1 {
        font: 500 24px/28px 'Roboto', sans-serif;
    }
    .banner-bottom-text-content {
        font: 400 14px/16px 'Roboto', sans-serif;
    }
    .banner-bottom-text p {
        font: 600 14px/16px 'Roboto', sans-serif;
        padding: 50px 0 20px;
    }
}

@media screen and (max-width: 480px) {
    .subscribe {
        display: none;
    }
    .search-wrapper {
        display: none;
    }
    .top-controls-wrapper {
        display: none;
    }
    .row.header-top {
        display: none;
    }
    .mob-search-wrapper {
        display: block;
    }
    .lang-control, .bag-link {
        margin-top: 12px;
    }
    .site-header .site-size {
        padding: 0 30px;
    }
    .top-controls-wrapper-mobile {
        display: block;
        padding-top: 10px;
    }
    .top-controls-wrapper-mobile .bag-link,
    .top-controls-wrapper-mobile .lang-control {
        float: right;
        margin-right: -10px;
        position: relative;
        z-index: 50;
    }
    .top-controls-wrapper-mobile .bag-link {
        margin-right: 14px;
        margin-left: 0;
    }
    .burger-menu-link {
        display: block;
        float: left;
        text-decoration: none;
        margin-left: -10px;
        margin-top: 12px;
        position: relative;
        z-index: 50;
    }
    .burger-menu-link > span {
        display: block;
        width: 18px;
        height: 2px;
        background-color: #000;
    }
    .burger-menu-link > span + span {
        margin-top: 3px;
    }
    .subscribe-form {
        border: none;
        height: auto;
        margin: 0 24px;
        width: auto;
        padding: 20px 0 37px;
    }
    .subscribe-form input[type='text'], .subscribe-form input[type='email'] {
        width: 100%;
        border: 1px solid #DDDDDD;
        border-radius: 5px;
        float: none;
        margin: 0;
        text-align: center;
        height: 36px;
    }
    .subscribe-form button[type='submit'] {
        float: none;
        margin: 20px auto 0;
    }
    .lang-control {
        margin-left: 2px;
    }
}

@media screen and (max-width: 460px) {
    .market-prices-top, .market-prices-bottom {
        width: 50% !important;
    }
    .market-prices-top p:first-child {
        margin-top: 10px;
    }
    .market-prices-bottom p:nth-child(2) {
        right: 20%;
    }
}