 
 {% extends 'base.html' %}
 {% block content %}
 <h1> Завершение задачи  </h1>
 <div class="container">
        <ul class="list-group">
            <li class="list-group-item">
               {{  task.task.title }}
            </li>
            <li class="list-group-item">
              Бюджет: {{  task.task.budget }} грн.
            </li>
            <li class="list-group-item">
              Статус: {{  task.get_status }}
            </li>
            <li class="list-group-item">
                <a class="btn btn-lg btn-outline-primary btn-block" href="/task/end/{{ task.id }}">Выполнено</a>              
            </li>
            <li class="list-group-item">
                На эту кнопку можно нажимать много раз, при повторном нажатии если проводились изменения кода они будут отправлены в репозиторий с новым комитом.       
            </li>
        </ul>
</div>
{% endblock %}