<html lang="en">
<!-- Basic -->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title> CI </title>
</head>

<body>
 
    <h1> Рабочая область создается. </h1>
    <p>
        Это может занять несколько минут.
    </p>

    <p>
        После создания cайт будет доступен по <a href="http://{{ link }}" target=_blank>ссылке</a>.
    </p>

    <p>
        Доступ по sftp (например через Filezilla):
    </p>

    <p>
        Протокол: sftp!!!!!!!!!!!! или ssh
    </p>

    <p>
        Сервер: newpressa.pressa.ru
    </p>

    <p>
        Порт: 22
    </p>

    <p>
        Логин: dev
    </p>

    <p>
        Пароль: 123123
    </p>

    <p>
    <img src="/static/1.png" />
    </p>

    <p>
        Рабочая папка: work/<ваш емейл>
    </p>

    <p>
        HTML шаблоны сайта:  pressa-besa/backend/templates
    </p>

    <p>
        CSS:  pressa-besa/backend/static/css
    </p>

<p>
Пример настроек плагина sftp под vscode.


{
    "name": "pressa",
    "host": "wezom.webmonstr.com",
    "protocol": "sftp",
    "port": 3306,
    "username": "student",
    "password": "123",
    "remotePath": "/home/student/work/vova/pressa-besa/backend/templates",
    "uploadOnSave": true,
    "downloadOnOpen": true
}
</p>
    <p>
    <img src="/static/3.png" />
    </p>
    <p>
    <img src="/static/4.png" />
    </p>
</body>
</html>
