 
 {% extends 'base.html' %}
 {% block content %}
 <h1> Система контроля и проектирования веб-проекта  </h1>
    <p>
        Система позволяет любому желающему принять участие в проектировани сайта  <a href="https://newpressa.pressa.ru/">https://newpressa.pressa.ru/</a>

    </p>
    <strong>
        <p>
        Это позволин начинающим программистам получить тот драгоценный опыт на реальном проекте и даже заработать денег!
        </p>
        </strong>
    <p>
        <div>
            <strong> Работа происходит так:</strong>
        </div>
        
        <ul>
            <li>1. Вам создается отдельный сервер с проектом.</li>
            <li>2. Вы берете в работу задачу из предложенных.</li>
            <li>3. После проверки и принятия получаете деньги на виртуальный счет на сайте.</li>
            <li>4. В любое время делаете запрос на перевод.</li>
        </ul>
        
        
        
        
    </p>
    <p>
        Для начала работы вам необходимо войти в систему, используя аккаунт Google.
    </p>
    <p class="container">
            <a class="btn btn-lg btn-outline-primary btn-block" href="{% url 'social:begin' 'google-oauth2' %}">Вход</a>
    </p>
    {% endblock %}