<html lang="en">
<!-- Basic -->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title> CI </title>
</head>

<body>
 
    <h1> Создать рабочую область </h1>
    <p>
        Это форма для того, чтобы вы смогли создать клон вот этого сайта  <a href="https://newpressa.pressa.ru/">https://newpressa.pressa.ru/</a>
    </p>
    <p>
        Этот сайт находится на этапе разработки и вы можете принять в этом участие.
    </p>
    <p>
       Но для этого необходимо cоздать его копию и предоставить вам к ней доступ.
    </p>
    <p>
       Поэтому введите в поле ваш емейл и давите на кнопку!
    </p>
    <form method="POST" action="" >
        {% csrf_token %}
        {{ form }}
        <button>Создать</button>
    </form>
</body>
</html>
