 
 {% extends 'base.html' %}
 {% block content %}
 <h1> Система контроля проектирования веб-проекта  </h1>
    <p>
        Эта система позволяет любому желающему принять участие в проектировани сайта  <a href="https://newpressa.pressa.ru/">https://newpressa.pressa.ru/</a>
    </p>
    <p>
        Для начала работы вам необходимо войти в систему, используя аккаунт Google.
    </p>
    <p class="container">
            <a class="btn btn-lg btn-outline-primary btn-block" href="{% url 'social:begin' 'google-oauth2' %}">Вход</a>
    </p>
    {% endblock %}