 
 {% extends 'base.html' %}
 {% block content %}
    <div class="container">
        <h1> Инструкция работы в Vscode  </h1>
        <h4>Работа по протоколу sftp</h4>
        <p>
            Для работы по sftp необходимо установить соответствующий плагин.
        </p>
         <p>
            <img src="/static/2.png" />
         </p>   
         <p>
            После установки нажимаем комбинацию Ctrl+Shift+p и набираем sftp и далее пункт SFTP Config
         </p>
         <p>
            <img src="/static/10.png" />
         </p> 
         <p>
            Прописываем настройки и нажимаем иконку сбоку.
         </p>

         <p>
            <img src="/static/3.png" />
         </p>   
         <p>
            Для того, чтобы начать редактирование необходимо вызвать контекстное меню правой кнопкой мыши и выбрать Edit in Local.
         </p>
         <p>
            <img src="/static/4.png" />
         </p>   
         <h4>Работа по протоколу ssh</h4>
        <p>
            Для работы по ssh необходимо установить соответствующий плагин.
        </p>
         <p>
            <img src="/static/5.png" />
         </p>
         <p>
            После установки нажимаем зеленую иконку в левом нижнем углу и далее пункт Add new SSH Host
         </p>   
         <p>
            <img src="/static/6.png" />
         </p>  
         <p>
            Вводим адрес сервера и порта.
         </p>
         <p>
            <img src="/static/13.png" />
         </p>
         <p>
            Выбираем куда сохранить настройки.
         </p>
         <p>
            <img src="/static/14.png" />
         </p>
         <p>
            Вводим пароль 123.
         </p>         
         <p>
            <img src="/static/8.png" />
         </p>  
         <p>
            Выбираем Open Folder через верхнюю иконку.
         </p>  
         <p>
            Находим каталог backend.
         </p>
         <p>
            <img src="/static/9.png" />
         </p>  
         <p>
            <img src="/static/11.png" />
         </p>  
    </div>
{% endblock %}