<div class="swiper-slide">
    <div class="thumbnail-classic">
        <div class="thumbnail-classic__media">
            <a href="{{ item.get_absolute_url }}">
                <img src="{{ item.get_image.thumbnailsmall_url }}" alt="{{item.title}}">
            </a>
            <span class="label">ежемесячные</span>
        </div>
        <a href="{{ item.get_absolute_url }}" class="thumbnail-classic__body">
            {{ item.title }}
        </a>
        <div class="thumbnail-classic__footer">
                {{ item.short_text|safe }}
        </div>
    </div>
</div>    
    
    
    
    