<div class="swiper-slide">
    <div class="thumbnail-modern">
        <div class="thumbnail-modern__media">
            <a href="{% url 'journal-detail' name_slug=item.name_slug %}">
                <img src="{{ item.common_cover }}" alt="{{ item.name }}">
            </a>
        </div>
        <div class="thumbnail-modern__body">
            <div class="thumbnail-modern__body-title">
                <a href="{% url 'journal-detail' name_slug=item.name_slug %}">
                    {{ item.name }}   
                </a>
            </div>
            <div class="thumbnail-modern__body-caption">№ {{ item.last_issue.name }}</div>
        </div>
        <div class="thumbnail-modern__footer">{{ item.amount }}₽</div>
    </div>
</div>