{% load i18n %} 
<div class="swiper-slide">
    <div class="thumbnail-classic">
        <div class="thumbnail-classic__media">
            <a href="{{ item.get_absolute_url }}">
                <img src="{{ item.thumbnailmiddle_url }}" alt="{{item.name}}">
            </a>
            <!-- <span class="label">ежемесячные</span> -->
        </div>
        <a href="{{ item.get_absolute_url }}" class="thumbnail-classic__body">
            {{ item.name }}
        </a>
        <div class="thumbnail-classic__footer">
                <span class="thumbnail-classic__footer-title">{{ item.issue.journal.name }}</span>
                <span class="thumbnail-classic__footer-date">{% translate 'Выпуск' %}: {{ item.issue.name }} </span>
        </div>
    </div>
</div>    
    
    
    
    