<div class="article-thumbnail">
    <div class="article-thumbnail__header">
        <ul class="article-thumbnail__header-list">
             {% for t in a.taggit.all %}
                <li>
                <a href="{% url 'article-search' key=t.name %}">
                {{ t.name }}
                </a>
                </li>
             {% endfor %}
        </ul>
        <div class="article-thumbnail__header-marker js-bookmark" data-issue={{ a.issue.id }} data-page={{ a.page }}>
           
        </div>
    </div>
    <div class="article-thumbnail__body">
        <div class="article-thumbnail__body-caption">
            <a href="{{ a.get_absolute_url }}">{{ a.title }}</a>
            <p>
                {{ a.short_text | safe }}
            </p>
        </div>
        <div class="article-thumbnail__body-media">
            <img src="{{a.get_image.thumbnailsmall_url}}" alt="">
        </div>
    </div>
</div>