{% extends 'base.html' %}
{% load i18n %} 
{% block css %} 
   
{% endblock %}


{% block content %}


<section class="section-xs card">
    <div class="container container-md">
        <div class="row col-12">
            
            <h4 class="text-uppercase">{{ flatpage.title }}</h4>
            
            
        </div>
        <div class="row">
            <div class="col-12 help-text">
                {{ flatpage.content }}
            </div>
        </div>
    </div>

</div>



    

{% endblock %}