{% load i18n %} 
<section class="section bg-default section-xs">
    <div class="container">
        <div class="row row-20">
            <div class="col-12 d-md-block">
                <h4 class="text-uppercase">Актуальные <span>статьи</span></h4>
            </div>
            {% include 'blocks/article_tag_slider.html' %}
            <div class="col-12">
                <div class="swiper-wrap swiper-style-1">
                    <div class="swiper-container swiper-popular-articles">
                        <div class="swiper-wrapper">
                            {% for item in news %}
                                {% include 'items/news.html' %}
                            {% endfor %}
                        </div>
                    </div>
                    <div class="slider-nav-wrapper">
                        <div class="slider-articles-nav-prev">
                            <span class="fa fa-chevron-left"></span>
                        </div>
                        <div class="slider-articles-nav-next">
                            <span class="fa fa-chevron-right"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container offset-top-md">
        <div class="row justify-content-center text-center">
            <div class="col-lg-9 col-md-10 col-12">
                <div class="h3">
                    Читайте или слушайте актуальные статьи из популярных изданий
                </div>
                <p>Удобный поиск поможет вам найти статью по нужной вам теме</p>
                <a href="#" class="button button-primary button-sm  more-articles-btn">Больше статей</a>
            </div>
        </div>
    </div>
</section>