<section class="section-xs bg-gray">
 		<div class="container container-custom">
						<div class="grid-box">
				<div class="grid-box__caption">
					<div class="h1">Удобство</div>
					<p class="offset-xl-top-30 text-black-5 font-weight-medium">Библиотека доступна в любое время и в любом месте. Дома на компьютере или в дороге на смартфоне или планшете. Читайте или слушайте понравившиеся вам статьи или журналы в удобном формате.</p>
				</div>
				<div class="grid-box__media">
					<img src="/static/assets/img/landing-1-939x434.png" alt="">
				</div>
				<div class="grid-box__action">
					<div class="cta-group align-items-sm-start">
						<span>Зарегистрируйся и читай 7 дней бесплатно!</span>
						<a href="#" class="button button-primary">Читать бесплатно</a>
					</div>
				</div>
			</div>
    </div>
</section>