{% extends 'base.html' %}
{% load i18n %} 
{% load static %}
{% block css %}
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet" href="{% static 'node_modules/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css' %}">
{% endblock %}
{% block js %}
    {{ block.super }}
    <script src="{% static 'node_modules/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js' %}"></script>
{% endblock %}



{% block content %}
    {% if not user.is_authenticated %}
        <div id="carousel">

        </div>
        {% include 'main/landing/main_banner.html' %}
        {% include 'main/landing/top_carousel.html' %}
        {% include 'main/landing/articles.html' %}
        {% include 'main/landing/bottom_banner.html' %}
        {% include 'main/landing/new_journals.html' %}
    {% endif %}

    {% if user.is_authenticated %}
        <div class="bg-light-gray">
            {% include 'main/registered/new_journals.html' %}
            {% include 'main/registered/actual_articles.html' %}
            {% include 'main/registered/new_books.html' %}
            {% include 'main/registered/subscription.html' %}
        </div>
    {% endif %}
    
{% endblock %}

