{% extends 'base.html' %}
{% load static %}
{% load i18n %} 
{% block content %}
    <div class="container">
        <div class="journals-block">
            <div class="col-12">
                <h4 class="text-uppercase">
                        {% translate 'Поиск по слову' %}: <span>{{ key }}</span>
                </h4>
            </div>

            {% if items %}
                <div class="col-12">
                    <h4 class="text-uppercase">{% translate 'Найденные издания' %}</h4>
                </div>
                {% for item in items %}
                    <div>
                    {% include 'items/journal.html' %}
                    </div>
                {% endfor %}
            {% else %}
                <div class="col-12">
                    {% translate 'По вашему запросу изданий не найдено' %}
                </div>
            {% endif %}



            {% if articles %}
                <div class="col-12">
                    <h4 class="text-uppercase">{% translate 'Найденные статьи' %}</h4>
                </div>
                {% for item in articles %}
                    <div>
                    {% include 'items/article.html' %}
                    </div>
                {% endfor %}
            {% else %}
                <div class="col-12">
                    {% translate 'По вашему запросу статей не найдено' %}
                </div>
            {% endif %}

            {% if categories %}
                <div class="col-12">
                    <h4 class="text-uppercase">{% translate 'Найденные категории' %}</h4>
                
                {% for item in categories %}
                   
                        <a href="{% url 'category-detail' journal_type='magazines' category=item.name_slug%}" class="button button-primary">
                            {{ item.name }}
                        </a>
                </div>
                {% endfor %}
            {% endif %}



        </div>
    </div>
{% endblock %}