{% extends 'base.html' %}
{% load i18n %} 
{% block content %}
    <section class="section section-xs bg-default single-card">
		<div class="container container-md">
		    
        <div class="row" >
        <h2 style="margin-left: 15px" class="article-title">{% trans 'Авторизация' %}</h2>
        </div>

       

        <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <a class="nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">{% trans 'Вход' %}</a>
                <a class="nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">{% trans 'Регистрация' %}</a>
                
            </div>
        </nav>
        <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
        {% include 'accounts/login_form.html' %}
        </div>
        <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
            {% include 'accounts/reg_form.html' %}
        </div>
       
        </div>


        </div>




    </section>
    

{% endblock %}