<section class="section section-xs">
    <div class="container">

        <div class="row row-20">
            <div class="col-12">
                <h4 class="text-uppercase">{% translate 'Актуальные' %}<span>{% translate 'статьи' %}</span></h4>
            </div>
            {% include 'blocks/article_tag_slider.html' %}
            <div class="col-12">
                <div class="swiper-wrap swiper-style-1">
                    <div class="swiper-container swiper-popular-articles">
                        <div class="swiper-wrapper">
                            {% for item in news %}
                                {% include 'items/news.html' %}
                            {% endfor %}
                        </div>
                    </div>
                    <div class="slider-nav-wrapper">
                        <div class="slider-articles-nav-prev">
                            <span class="fa fa-chevron-left"></span>
                        </div>
                        <div class="slider-articles-nav-next">
                            <span class="fa fa-chevron-right"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>

