<section class="section bg-default section-xs bg-light-gray">
    <div class="container">

        <div class="row row-20">
            <div class="col-12">
                <h4 class="text-uppercase">Новинки</h4>
            </div>
            <ul class="category-block">
                {% for c in categories %}
                <li><a class="button button-secondary" 
                href="{% url 'category-detail' category=c.name_slug journal_type='all' %}">{{ c.name }}</a></li>
                {% endfor %}
            </ul>
            <div class="col-12">
                <div class="swiper-wrap swiper-style-1">
                    <div class="swiper-container swiper-popular-news ">
                        <div class="swiper-wrapper">
                            {% for item in popular_journal %}
                                {% include 'items/journal.html' %}
                            {% endfor %}
                        </div>
                        <!-- Add Pagination -->
                        
                    </div>
                    <div class="slider-nav-wrapper">
                        <div class="slider-nav-prev">
                            <span class="fa fa-chevron-left"></span>
                        </div>
                        <div class="slider-nav-next">
                            <span class="fa fa-chevron-right"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>

