{% extends 'base.html' %}
{% load i18n %}
{% block css %} 
    <link rel="stylesheet" href="/static/css/lk.css">
{% endblock %}


{% block content %}

<section class="section-xs card">
    <div class="container container-md">

          <h4 class="text-uppercase">{% trans 'Мои закладки' %}</h4>

          {% if not bookmarks %}
            <div class="alert alert-danger" role="alert">
                {% trans 'У вас нет закладок' %}
            </div>
          {% else %}
            <table class="table">
                
                {% for b in bookmarks %}
                
                <tr>
                <td>{{ b.issue.journal.name }}</td>
                <td>{{ b.issue.name }}</td>
                <td>
                  {% if b.type == 'pdf' %}
                      {% trans 'статья' %}
                  {% else %}
                      {% trans 'выпуск' %}
                  {% endif %}
                </td>
                <td>
                  {% if b.type == 'pdf' %}
                       <a class="button button-primary" href="{% url 'reader' issue_id=b.issue.id %}" >{% trans "Читать" %}</a>
                  {% else %}
                       <a class="button button-primary" href="{% url 'text-reader' issue_id=b.issue.id %}" >{% trans "Читать" %}</a>
                  {% endif %}
               
                
                </td>
                </tr>

                {% endfor %}

            </table>
          {% endif %}

    </div>
</section>








{% endblock %}