{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block css %} 
    <link rel="stylesheet" href="/static/css/lk.css">
{% endblock %}


{% block content %}

<script type="text/javascript">
    jQuery(document).ready(function() {
    
        $('#pay_visa').click(() => {
            let sum = $("#sum").val();
            let user_id = $("#user_id").val();
            console.log(sum);
            window.location.href = `/billing/payonline/${user_id}/${sum}`;
        })
    
    })

</script>



<!-- 
<div class="container">
    <iframe src="http://pressa.ru/ru/billing/payment/132077/login" width="800" height="600" align="center">
      Ваш браузер не поддерживает плавающие фреймы!
   </iframe>
  </div>
-->

<section class="section-xs card">
    <div class="container container-md">

          <h4 class="text-uppercase">{% trans 'Пополнение счета' %}</h4>

        <div class="col-12">
            <h4 class="text-uppercase">{% trans 'У вас на счету:' %} {{ user.amount }}</h4>
            
          </div>

        <div class="col-12">
            {% trans 'Сумма:' %}<input name="sum" id="sum" />
            <input name="user" type="hidden" id="user_id" value="{{ user.pk }}" />
            <a class="pay_link auto_change_url" id="pay_visa" href="#">
                <img src="{%  static 'main/images/pay_visa.png' %}">
            </a>
        </div>

      

    </div>
</section>








{% endblock %}