//Base
@import "bootstrap/bootstrap";

@import 'base/functions';
@import 'base/reset';
@import 'base/variables'; 
 
//Mixins
@import 'mixins/breakpoints';
@import 'mixins/grid';
@import 'mixins/backgrounds';
@import 'mixins/links';
@import 'mixins/text-aligment';

//Plugins
@import 'plugins/rd-navbar';
@import 'plugins/swiper';

//Custom
@import 'custom/offsets';
@import 'custom/text-styling';
@import 'custom/backgrounds';
@import 'custom/links';
@import 'custom/sections';
@import 'custom/blocks';
@import 'custom/other';
@import 'custom/row-spacing';
@import 'custom/select';
@import 'custom/page';
@import 'custom/forms';
@import 'custom/thumbnails';
@import 'custom/card';
@import 'custom/articles-grid';
@import 'custom/single-card';
//Components  
@import "components/headings";
@import "components/offsets";
@import "components/buttons";
@import "components/lists";
@import "components/boxes";
@import "components/images";
@import "components/footer";

//Fonts
@import "fonts/font-awesome";

 
@import 'plugins/swiper-gallery';
@import 'plugins/fancybox';




