.git-branch {
    background-color:white;
    color: #FE0000;
    border-radius: 5px;
    position: absolute;
    border: 1px solid #FE0000;
    top: 10px;
    left: 10px;
    z-index: 100;
    padding: 5px;
    font-size: 12px;
}

.thumbnail-classic {
    margin-right: auto;
    margin-left: auto
}

.userMenu {
    display: flex;
    padding-top: 0;
}

.page-header {
    z-index: 20;
}

.rd-navbar-logo img {
    width: 300px;
}

.mode-link img {
    width: 25px;
    padding-right: 5px;
}

.mode-link {
    padding-left: 10px;
    color: black;
    margin-top: 5px;
    display: flex;
}

