.git-branch {
    background-color:white;
    color: #FE0000;
    border-radius: 5px;
    position: absolute;
    border: 1px solid #FE0000;
    top: 10px;
    left: 10px;
    z-index: 100;
    padding: 5px;
    font-size: 12px;
}

.thumbnail-classic {
    margin-right: auto;
    margin-left: auto
}

.userMenu {
    display: flex;
    padding-top: 0;
}

.page-header {
    z-index: 20;
}

.rd-navbar-logo img {
    width: 300px;
}

.nav-riader-links img {
  
    padding-right: 5px;
    display: flex;
    align-items: center;
    width: 25px;
}

.nav-riader-links a {
    padding-left: 10px;
    color: black;
    margin-top: 5px;
    display: flex;
}

.right-rider-menu img {
    width: 25px;
}

.article-title {
    text-align: center;
}


.right-rider-menu {
    display: flex;
    justify-content: center;
    flex-grow: inherit;
    
}

.right-rider-menu a {
    margin-top: 10px;
}

.right-rider-menu a {
    padding-left: 10px;

}

.rd-nav-panel-main {
    display: flex;
    justify-content: space-between;
}

.mobi-navbar-panel {
    width: 100%;
}

.right-links-wrapper {
    display: flex;
    align-items: center;
}

@media screen and (max-width: 600px) {
    .hide-in-mobile {
      visibility: hidden;
      clear: both;
      display: none;
    }

    .show-in-mobile {
        visibility: visible;
        display: block !important;
      }

  }

  .hide-block {
      display: none;
}

.read-link {
    color: #FE0000;

}

.color-green {
    color: green;
}


.color-red {
    color: red;
}

.hidden {
    display: none;
}

.fa-icon {
    width: 20px;
}

.list-tails ul{
        display: flex;
        flex-wrap: wrap;
}

.list-tails li {
    margin: 2px;
}

.list-tails img {
    min-width: 110px;
    object-fit: cover;
    vertical-align: bottom;
    margin: 2px;
}
