{% extends 'base.html' %}

{% block css %} 
    <link rel="stylesheet" href="/static/css/journal_detail.css">
{% endblock %}


{% block content %}


<section class="section-xs card">
    <div class="container container-md">
        <div class="row row-20">
            <div class="col-12 col-md-4 d-flex justify-content-center">
                <div class="card-media">
                    <img src="{{ current_issue.just_cover }}" alt="">
                    
                    <div class="card-media__action">
                        <a href="" class="button button-primary">Читать</a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-8 d-flex flex-column justify-content-between">
                <div class="card-info">
                    <div class="card-info__main">
                        <h4 class="card-info__title">{{ object.name }}</h4>
                        <div class="card-info__release-number">
                            № {{ current_issue.name }}
                        </div>
                        <div class="card-info__publishing">
                            <span>Издательство:</span>
                            <a href="#">{{object.publishing_office.name}}</a>
                        </div>
                        {% if object.publishing_office.show_site_link %}
                        <div class="card-info__publishing-site">
                            <a href="{{ object.publishing_office.site }}">Сайт издания</a>
                        </div>
                        {% endif %}
                    </div>
                    <div class="card-info__price">
                        <div class="card-info__price-inner">
                            <div class="card-info__price-title">ЦЕНА ЗА НОМЕР:</div>
                            <div class="card-info__price-number">{{ object.amount }} ₽</div>
                            <a href="{% url 'journal-buy' name_slug=object.name_slug issue_name_slug=object.last_issue.name_slug %}" class="button button-primary button-sm">Купить</a>
                        </div>
                    </div>
                    <form action="" class="card-info__subscription-form">
                        <div class="card-info__subscription-header">
                            <span>ЭЛЕКТРОННАЯ ПОДПИСКА</span>
                            <button class="button-primary button button-sm" type="submit">Подписаться</button>
                        </div>
                        <div class="card-info__subscription-body">
                            <div class="form-wrap">
                                <input class="custom-radio" type="radio" id="radio-one" name="subscription">
                                <label for="radio-one">1 выпуск (1 месяц) за 66.00 руб.</label>
                            </div>
                            <div class="form-wrap">
                                <input class="custom-radio" type="radio" id="radio-two" name="subscription">
                                <label for="radio-two"> 12 выпусков (12 месяцев) за 649.00 руб. (экономия 143 руб.)</label>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="card-info__subscription">
                <div class="js-subscribe-button"></div>
                <!-- TODO add d-flex class-->
                </div>
            </div>
        </div>
    </div>
</section>

<div id="issueSlider"></div>
<div id="JSIssueItems" style="display: none">
    {% for item in more_issues %}
        {% include 'items/issue.html' %}
    {% endfor %}
</div>


<br />
<div style="display: none" class="category-block container" id="tagSliderItems">
    {% for category in categories %}
        <div>
        <a href="{% url 'category-detail' journal_type=object.get_journal_type_url category=category.name_slug %}" class="button button-primary">
            {{ category.name }}
        </a>
        </div>
    {% endfor %}
</div>


		<div class="container container-md">
			<div class="articles-grid">
			{% for a in articles %}
				{% include 'items/short_article.html' %}
			{% endfor %}
			</div>
		</div>
    

{% endblock %}