.intro-cta-box__caption {
	height: 100%;
}

.intro-cta-box__price {
	height: 100%; 
}

.intro-cta-box {
	height: 140px;
}  
 

.intro-box{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	flex-grow: 1;
	flex-shrink: 0;
	p{
		color: rgba(34, 34, 34, 0.5);
		font-weight: 500;
	}
	* + p{
		margin-top: 15px;
		@media(min-width: 1200px){
			margin-top: 30px;
		}
		@media(max-width: 600px){
			font-size: 12px;
			margin-top: 0;
		}
	}
	.cta-group{
		span{
			text-align: center;
			color: #222;
			font-weight: 500;
			font-size: 14px;
		}
		@media(min-width: 576px){
			align-items: flex-start;
		}
		
	}
}

.cta-group{
	span{
		color: #222;
		font-weight: 500;
		font-size: 14px;
	}
	* + &{
		margin-top: 15px;
		@media(min-width: 1200px){
			margin-top: 40px;
		}
	}
	display: flex;
	flex-direction: column;
	
	* + .button{
		margin-top: 15px;
	}
	.button{
		min-height: 57px;
		font-size: 24px;
		@media(min-width: 992px){
			min-height: 60px;
		}
		@media(min-width: 1200px){
			max-width: 345px;
			width: 100%;
			min-height: 80px;
		}
	}
}

.intro-cta-box{
	margin-top: 15px;
	@media(min-width: 768px){
		margin-top: 0;
		position: absolute;
		right: 15px;
		top: 0;
	}
	@media(min-width: 992px){
		top: 30px;
	}
	user-select: none;
	display: flex;
	flex-direction: row;
	justify-content: center;
	@media(min-width: 768px){
		padding-left: 14px;
		flex-direction: column;
		&:before{
			content: '';
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 0 13px 14px 13px;
			border-color: transparent transparent #ffffff transparent;
			position: absolute;
			left: 0;
			top: 50px;
			transform: translateY(-50%) rotate(-90deg);
		}
	}
	&__caption,&__price{
		display: flex;
		flex-direction: column;
		font-size: 20px;
		font-weight: 500;
		text-align: center;
		background-color: #fff;
		padding: 15px;
		justify-content: center;
		flex-shrink: 0;
		flex-grow: 1;
		flex-basis: 0;
		@media(min-width: 430px){
			max-width: 145px;
			width: 100%;
		}
		&-title{
			font-size: 58px;
			line-height: 1;
		}
	}
	&__price{
		background-color: #f2f2f2;
		color: rgba(#222,.5);
		
		&-body{
			display: flex;
			justify-content: center;
			span{
				&:nth-child(1){
					font-size: 20px;
				}
				&:nth-child(2){
					font-size: 82px;
					line-height: .8;
				}
				&:nth-child(3){
					font-size: 34px;
					align-self: flex-end;
				}
			}
		}
		&-footer{
			font-size: 20px;
		}
	}
}



.grid-box{
	display: flex;
	flex-direction: column;
	margin-top: -25px;
	> *{
		margin-top: 25px;
	}
	@media(min-width: 992px){
		margin-top: 0;
		&__caption,&__media{
			margin-top: 0;
		}
		display: grid;
		grid-template-columns: repeat(12, [col-start] 1fr);
		grid-column-gap: 15px;
	}
	&__caption{
		@media(min-width: 992px){
			grid-column: col-start / span 4;
		}
		@media(min-width: 1200px){
			grid-column: col-start / span 3;
		}
	}
	&__action{
		@media(min-width: 992px){
			margin-top: 10px;
			grid-column: col-start 1 / span 4;
			grid-row: 2;
		}
		@media(min-width: 1200px){
			grid-column: col-start 1 / span 3;
			grid-row: 2;
		}
	}
	&__media{
		display: flex;
		align-items: center;
		@media(min-width: 992px){
			grid-column: col-start 6 / span 7 ;
			grid-row: 1 / 3;
		}
	}
}
