/** @section Buttons */

// Button General Styles
.button {
	position: relative;
	overflow: hidden;
	display: inline-flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-family: $font-base;
	font-size: 14px;
	font-weight: 500;
	white-space: nowrap;
	text-overflow: ellipsis;
	text-align: center;
	cursor: pointer;
	vertical-align: middle;
	user-select: none;
	transition: 250ms all ease-in-out;
	min-height: 46px;
	padding: 0 10px;
	border: none;
	line-height: 1;
	border-radius: 5px;
	> * {
		pointer-events: none;
	}
	&:hover{
		transition: 250ms all ease-in-out;
	}
}

.button-block {
	display: block;
	width: 100%;
}


.button-primary{
	background-color: $primary;
	color: $white;
	transition: $transition-base;
	&:hover,&:focus{
		box-shadow: 0px 3px 10px 0px rgba(254,0,0,0.45);
		color: $white;
		transition: $transition-base;
	}
}


.button-secondary{
	background-color: $white;
	color: $red;
	transition: $transition-base;
	box-shadow: 0px 3px 10px 0px rgba(75, 73, 73, 0.45);
	&:hover,&:focus{
		box-shadow: 0px 3px 10px 0px rgba(254,0,0,0.45);
		transition: $transition-base;
	}
}


.button-sm{
	min-width: 154px;
}

.button-lg{
	min-width: 265px;
}

.more-articles-btn{ 
	min-height: 57px;
	min-width: 100%;
	@media(min-width: 768px){
		min-width: 154px;
		min-height: 47px;
	} 
}
