.block-sm + .block-xs{
	margin-top: 26px;
}

.container + .container{
	margin-top: 30px;
	&.offset-top-md{
		@media(min-width: 1200px){
			margin-top: 40px;
		}
	}
	.footer-classic &{
		margin-top: 0;
	} 
}



* + .button{
	margin-top: 30px;
}

* + p{
	margin-top: 5px;
}

.offset-xl-top-30{
	margin-top: 20px;
	@media(min-width: 1200px){
		margin-top: 30px;
	}
}