
// Light Backgrounds
.bg-default {
	@include bg-behaviour($body-bg);
}
.bg-yellow{
	background-color: $yellow;
}

.bg-gray{
	background-color: #CBC9C3;
}

.bg-light-gray{
	background-color: #F6F6F6;
}

.bg-gradient-gray{
	background: linear-gradient(-180deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 100%);
	
}
