
// Light Backgrounds
.bg-default {
	@include bg-behaviour($body-bg);
}
.bg-yellow{
	background-color: $yellow;
}

.bg-gray{
	background-color: #CBC9C3;
}

.bg-light-gray{
	background-color: #F6F6F6;
}
