.single-card{
	&__info{
		display: flex;
		flex-direction: column;
		text-align: center;
		@media(min-width: 576px){
			text-align: left;
		}
		&-details{
			display: flex;
			flex-wrap: wrap;
			flex-direction: column-reverse;
			align-items: center;
			flex-basis: 0;
			flex-grow: 1;
			text-align: center;
			@media(min-width: 576px){
				text-align: left;
				align-items: flex-start;
				flex-direction: row;
			}
			&-media,&-caption{
				flex-grow: 1;
				flex-basis: 0;
				margin-left: 15px;
				margin-top: 5px;
				width: 100%;
			}
			&-media{
				max-width: 100px;
			} 
			&-caption{
				display: flex;
				flex-direction: column;
				text-transform: uppercase;
				color: #aaa;
				font-size: 18px;
				* + *{
					margin-top: 8px;
				}
			}
		}
		&-group{
			display: flex;
			align-items: flex-start;
			justify-content: space-between;
			margin-left: -15px;
			margin-top: -5px;
		}
		&-date,&-marker{
			margin-top: 5px;
			margin-left: 15px;
			flex-basis: 0;
			flex-grow: 1;
		}
		&-date{
			text-transform: uppercase;
			color: #aaa;
			font-size: 20px;
		}
		&-marker{
			max-width: 12px;
		}
		&-title{
			* + &{
				margin-top: 15px;
			}
			font-size: 24px;
			color: #222;
			font-weight: 500;
			@media(min-width: 768px){
				font-size: 30px;
			}
			@media(min-width: 992px){
				font-size: 38px;
			}
		}
		&-caption{
			line-height: 1.4;
			* + &{
				margin-top: 10px;
				@media(min-width: 992px){
					margin-top: 15px;
				}
			}
			color: #222;
		}
	}
	&__subscribe{
		align-self: center;
		@media(min-width: 576px){
			align-self: flex-start;
		}
	}
}