.thumbnail-modern{
	box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.1);
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	max-width: 252px;
	@media(min-width: 520px){
		margin-right: auto;
		margin-left: auto;
	}
	&__media{
		display: flex;
		a{
			display: flex;
			width: 100%;
		}
		img{
			min-height: 335px;
			max-height: 335px;
			object-fit: cover;
			user-select: none;
			
		} 
	}
	&__body{
		padding: 15px 10px 10px 10px;
		font-size: 16px;
		text-transform: uppercase;
		&-title{
			color: #222;
			font-weight: 500;
			a{
				@include link(#222,$primary);
			}
		}
		&-caption{
			font-size: 14px;
			text-transform: uppercase;
			color: #aaa;
			margin-top: 5px;
		}
	}
	&__footer{
		position: relative;
		padding: 15px 10px;
		font-weight: 500;
		color: #222;
		&:before{
			content: '';
			position: absolute;
			top: 0;
			right: 10px;
			left: 10px;
			height: 1px;
			background-color: #ddd;
		}
	}
}

.thumbnail-classic{
	box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.1);
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	max-width: 280px;
	@media(min-width: 520px){
		max-width: 322px;
		margin-right: auto;
		margin-left: auto;
	}
	&__media{
		position: relative;
		img{
			width: 100%;
			object-fit: cover;
			border-top-left-radius: 5px;
			border-top-right-radius: 5px;
		}
		.label{
			display: inline-flex;
			position: absolute;
			left: 0;
			bottom: 0;
			text-transform: uppercase;
			color: $white;
			font-weight: 500;
			font-size: 14px;
			background-color: $primary;
			padding: 5px 10px;
		}
	}
	&__body{
		font-size: 16px;
		display: flex;
		@include link($body-color,$primary)
	}
	&__footer,&__body{
		padding: 5px 10px;
	}
	&__footer{
		color: #525458;
		font-weight: 300;
		font-size: 12px;
		display: flex;
		justify-content: space-between;
		padding-bottom: 10px;
	}
}