<h2 class="title-twice">АКТУАЛЬНЫЕ <span>СТАТЬИ</span></h2>
<div class="row">
    <div class="col-md-10">
        <ul class="tags">
            <li><a href="#">#Борис Акунин</a></li>
            <li><a href="#">#Только у нас</a></li>
            <li><a href="#">#Бесплатно</a></li>
            <li><a href="#">#Originals</a></li>
            <li><a href="#">#Саморазвитие</a></li>
            <li><a href="#">#Фантастика и фэнтези</a></li>
            <li><a href="#">#Бизнес</a></li>
            <li><a href="#">#Windows</a></li>
            <li><a href="#">#Linux</a></li>
            <li><a href="#">#Коронавирус</a></li>
            <li><a href="#">#Дети</a></li>
        </ul>
    </div>
    <div class="col-md-2 slider-control-wrapper">
        <a href="#" class="slider-control actual-articles-slider-prev asp"><i class="fa fa-chevron-left"></i></a>
        <a href="#" class="slider-control actual-articles-slider-next asn"><i class="fa fa-chevron-right"></i></a>
    </div>
</div>
<div class="actual-articles-slider" id="actualArticlesSlider">

    {% for item in news %}
        {% include 'items/news.html' %}
    {% endfor %}

</div>
<div class="mob-slider-control-wrapper slider-control-wrapper">
    <a href="#" class="slider-control actual-articles-slider-prev asp"><i class="fa fa-chevron-left"></i></a>
    <a href="#" class="slider-control actual-articles-slider-next asn"><i class="fa fa-chevron-right"></i></a>
</div>
<div class="electronic-library-section">
    <h1>Читайте или слушайте актуальные статьи из популярных изданий</h1>
    <h2>Удобный поиск поможет вам найти статьи по нужной вам теме</h2>
    <a href="#" class="btn-find-favorite">Больше статей</a>
</div>