<div class="main-banner row">
    <div class="col-md-5 main-banner-content">
        <h1>Пресса.ру — ваша библиотека электронных версий популярных газет и журналов</h1>
        <div class="banner-top-text">
            Здесь вы можете читать и даже слушать любимые журналы и газеты в электронном виде на вашем смартфоне, планшете или компьютере из любой точки мира.
            <p>Зарегистрируйся и читай 7 дней бесплатно!</p>
        </div>
        
        <a href="#" class="btn-read-free">Читать бесплатно</a>
        
    </div>
    
        <div class="main-banner-pic">
            <img class="img-fluid" src="/static/images/main_banner.png" />
        </div>
    </div>
    <div class="col-md-1">
        <div class="market-prices">
            <div class="market-prices-top">
                <p>Более</p>
                <p>200</p>
                <p>журналов и газет</p>
            </div>
            <div class="market-prices-bottom">
                <p>за</p>
                <p id="costJ">8 </p>
                <p id="costR">₽</p>
                <p id="costD">в день</p>
            </div>
        </div>
    
</div>