<div class="row">
    <div class="col-md-10">
        <h2 class="title-twice">НОВЫЕ <span>ВЫПУСКИ</span></h2>
    </div>
    <div class="col-md-2 slider-control-wrapper newest-slider-controls">
        <a href="#" class="slider-control newest-slider-prev bs-prev"><i class="fa fa-chevron-left"></i></a>
        <a href="#" class="slider-control newest-slider-next bs-next"><i class="fa fa-chevron-right"></i></a>
    </div>
</div>
<div class="slider-wrapper">
    <a href="#" class="slider-control newest-slider-prev bs-prev"><i class="fa fa-chevron-left"></i></a>
    <a href="#" class="slider-control newest-slider-next bs-next"><i class="fa fa-chevron-right"></i></a>
    <div class="newest-slider" id="booksSlider">
        <div class="newest-slider-slide">
            <a href="#" class="newest-slider-slide-image" title="НИВА ПЛЮС">
                <img src="/static/i/books-1.jpg" alt="" title="НИВА ПЛЮС">
            </a>
            <div class="newest-slider-slide-content">
                <a href="#" class="newest-slider-slide-title">НИВА ПЛЮС</a>
                <div class="newest-slider-slide-num">№10 12/10/20</div>
                <div class="newest-slider-slide-bottom">
                    <div class="newest-slider-slide-price">250.00₽</div>
                </div>
            </div>
        </div>
        <div class="newest-slider-slide">
            <a href="#" class="newest-slider-slide-image" title="НИВА ПЛЮС">
                <img src="/static/i/books-2.jpg" alt="" title="НИВА ПЛЮС">
            </a>
            <div class="newest-slider-slide-content">
                <a href="#" class="newest-slider-slide-title">НИВА ПЛЮС</a>
                <div class="newest-slider-slide-num">№10 12/10/20</div>
                <div class="newest-slider-slide-bottom">
                    <div class="newest-slider-slide-price">250.00₽</div>
                </div>
            </div>
        </div>
        <div class="newest-slider-slide">
            <a href="#" class="newest-slider-slide-image" title="НИВА ПЛЮС">
                <img src="/static/i/books-3.jpg" alt="" title="НИВА ПЛЮС">
            </a>
            <div class="newest-slider-slide-content">
                <a href="#" class="newest-slider-slide-title">НИВА ПЛЮС</a>
                <div class="newest-slider-slide-num">№10 12/10/20</div>
                <div class="newest-slider-slide-bottom">
                    <div class="newest-slider-slide-price">250.00₽</div>
                </div>
            </div>
        </div>
        <div class="newest-slider-slide">
            <a href="#" class="newest-slider-slide-image" title="НИВА ПЛЮС">
                <img src="/static/i/books-4.jpg" alt="" title="НИВА ПЛЮС">
            </a>
            <div class="newest-slider-slide-content">
                <a href="#" class="newest-slider-slide-title">НИВА ПЛЮС</a>
                <div class="newest-slider-slide-num">№10 12/10/20</div>
                <div class="newest-slider-slide-bottom">
                    <div class="newest-slider-slide-price">250.00₽</div>
                </div>
            </div>
        </div>
        <div class="newest-slider-slide">
            <a href="#" class="newest-slider-slide-image" title="НИВА ПЛЮС">
                <img src="/static/i/books-5.jpg" alt="" title="НИВА ПЛЮС">
            </a>
            <div class="newest-slider-slide-content">
                <a href="#" class="newest-slider-slide-title">НИВА ПЛЮС</a>
                <div class="newest-slider-slide-num">№10 12/10/20</div>
                <div class="newest-slider-slide-bottom">
                    <div class="newest-slider-slide-price">250.00₽</div>
                </div>
            </div>
        </div>
        <div class="newest-slider-slide">
            <a href="#" class="newest-slider-slide-image" title="НИВА ПЛЮС">
                <img src="/static/i/newest-1.jpg" alt="" title="НИВА ПЛЮС">
            </a>
            <div class="newest-slider-slide-content">
                <a href="#" class="newest-slider-slide-title">НИВА ПЛЮС</a>
                <div class="newest-slider-slide-num">№10 12/10/20</div>
                <div class="newest-slider-slide-bottom">
                    <div class="newest-slider-slide-price">250.00₽</div>
                </div>
            </div>
        </div>
        <div class="newest-slider-slide">
            <a href="#" class="newest-slider-slide-image" title="НИВА ПЛЮС">
                <img src="/static/i/newest-2.jpg" alt="" title="НИВА ПЛЮС">
            </a>
            <div class="newest-slider-slide-content">
                <a href="#" class="newest-slider-slide-title">НИВА ПЛЮС</a>
                <div class="newest-slider-slide-num">№10 12/10/20</div>
                <div class="newest-slider-slide-bottom">
                    <div class="newest-slider-slide-price">250.00₽</div>
                </div>
            </div>
        </div>
        <div class="newest-slider-slide">
            <a href="#" class="newest-slider-slide-image" title="НИВА ПЛЮС">
                <img src="/static/i/newest-3.jpg" alt="" title="НИВА ПЛЮС">
            </a>
            <div class="newest-slider-slide-content">
                <a href="#" class="newest-slider-slide-title">НИВА ПЛЮС</a>
                <div class="newest-slider-slide-num">№10 12/10/20</div>
                <div class="newest-slider-slide-bottom">
                    <div class="newest-slider-slide-price">250.00₽</div>
                </div>
            </div>
        </div>
        <div class="newest-slider-slide">
            <a href="#" class="newest-slider-slide-image" title="НИВА ПЛЮС">
                <img src="/static/i/newest-4.jpg" alt="" title="НИВА ПЛЮС">
            </a>
            <div class="newest-slider-slide-content">
                <a href="#" class="newest-slider-slide-title">НИВА ПЛЮС</a>
                <div class="newest-slider-slide-num">№10 12/10/20</div>
                <div class="newest-slider-slide-bottom">
                    <div class="newest-slider-slide-price">250.00₽</div>
                </div>
            </div>
        </div>
        <div class="newest-slider-slide">
            <a href="#" class="newest-slider-slide-image" title="НИВА ПЛЮС">
                <img src="/static/i/newest-5.jpg" alt="" title="НИВА ПЛЮС">
            </a>
            <div class="newest-slider-slide-content">
                <a href="#" class="newest-slider-slide-title">НИВА ПЛЮС</a>
                <div class="newest-slider-slide-num">№10 12/10/20</div>
                <div class="newest-slider-slide-bottom">
                    <div class="newest-slider-slide-price">250.00₽</div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="mob-slider-control-wrapper slider-control-wrapper">
    <a href="#" class="slider-control newest-slider-prev bs-prev"><i class="fa fa-chevron-left"></i></a>
    <a href="#" class="slider-control newest-slider-next bs-next"><i class="fa fa-chevron-right"></i></a>
</div>