<div class="row">
    <div class="col-md-10">
        <h2 class="title-twice">НОВЫЕ <span>ВЫПУСКИ</span></h2>
    </div>
    <div class="col-md-2 slider-control-wrapper newest-slider-controls">
        <a href="#" class="slider-control newest-slider-prev bs-prev"><i class="fa fa-chevron-left"></i></a>
        <a href="#" class="slider-control newest-slider-next bs-next"><i class="fa fa-chevron-right"></i></a>
    </div>
</div>
<div class="slider-wrapper">
    <a href="#" class="slider-control newest-slider-prev bs-prev"><i class="fa fa-chevron-left"></i></a>
    <a href="#" class="slider-control newest-slider-next bs-next"><i class="fa fa-chevron-right"></i></a>
    <div class="newest-slider" id="booksSlider">
       
        {% for item in new %}
            {% include 'items/journal.html' %}
        {% endfor %}
    </div>
</div>
<div class="mob-slider-control-wrapper slider-control-wrapper">
    <a href="#" class="slider-control newest-slider-prev bs-prev"><i class="fa fa-chevron-left"></i></a>
    <a href="#" class="slider-control newest-slider-next bs-next"><i class="fa fa-chevron-right"></i></a>
</div>