<div class="row">
    <div class="col-md-10">
        <h2 class="title-twice">ПОПУЛЯРНЫЕ <span>ИЗДАНИЯ</span></h2>
    </div>
    <div class="col-md-2 slider-control-wrapper newest-slider-controls">
        <a href="#" class="slider-control newest-slider-prev nsp"><i class="fa fa-chevron-left"></i></a>
        <a href="#" class="slider-control newest-slider-next nsn"><i class="fa fa-chevron-right"></i></a>
    </div>
</div>
<div class="slider-wrapper">
    <a href="#" class="slider-control newest-slider-prev nsp"><i class="fa fa-chevron-left"></i></a>
    <a href="#" class="slider-control newest-slider-next nsn"><i class="fa fa-chevron-right"></i></a>
    <div class="newest-slider" id="newestSlider">

        {% for journal in popular_journal %}
            {% include 'items/journal.html' %}
        {% endfor %}
    </div>
</div>
<div class="mob-slider-control-wrapper slider-control-wrapper">
    <a href="#" class="slider-control newest-slider-prev nsp"><i class="fa fa-chevron-left"></i></a>
    <a href="#" class="slider-control newest-slider-next nsn"><i class="fa fa-chevron-right"></i></a>
</div>