<div class="banner-bottom">
    <div class="banner-bottom-text">
        <h1>Удобство</h1>
        <div class="banner-bottom-text-content">
            Библиотека доступна в любое время и в любом месте. Дома на компьютере или в дороге на смартфоне или планшете. Читайте или слушайте понравившиеся вам статьи или журналы в удобном формате.
        </div>
        <p>Зарегистрируйтесь и прочитайте статью бесплатно</p>
        <a href="#" class="btn-read-articles">Читать статьи</a>
    </div>
    <div class="banner-bottom-pic">
        <img src="/static/i/banner-bottom-pic.jpeg" alt="">
    </div>
    <div class="clear"></div>
</div>